In [54]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/Tejeswar001/Heart-ML/main/Data/cvd_validated_dataset.csv')  
df.head()

,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Total Cholesterol (mg/dL),HDL (mg/dL),Fasting Blood Sugar (mg/dL),Smoking Status,...,Family History of CVD,CVD Risk Level,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,BMI_calculated
0,F,32.0,69.1,1.71,23.6,86.2,248.0,78.0,111.0,N,...,N,INTERMEDIARY,171.000,0.504,125.0,79.0,Elevated,140.0,17.93,23.631203
1,F,55.0,118.7,1.69,41.6,82.5,162.0,50.0,135.0,Y,...,Y,HIGH,169.000,0.488,139.0,70.0,Hypertension Stage 1,82.0,20.51,41.560169
2,M,44.0,108.3,1.80,33.4,96.6,134.0,46.0,91.0,N,...,Y,INTERMEDIARY,175.694,0.537,140.0,83.0,Hypertension Stage 1,58.0,16.36,33.425926
3,F,32.0,99.5,1.86,28.8,102.7,146.0,64.0,141.0,Y,...,N,INTERMEDIARY,186.000,0.552,144.0,83.0,Hypertension Stage 1,52.0,17.88,28.760550
4,F,58.0,117.9,1.87,33.7,81.4,156.0,67.0,82.0,Y,...,Y,HIGH,187.000,0.435,142.0,90.0,Hypertension Stage 2,59.0,16.96,33.715577

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360 entries, 0 to 1359
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sex                           1360 non-null   object
 1   Age                           1360 non-null   float64
 2   Weight (kg)                   1360 non-null   float64
 3   Height (m)                    1360 non-null   float64
 4   BMI                           1360 non-null   float64
 5   Abdominal Circumference (cm)  1360 non-null   float64
 6   Total Cholesterol (mg/dL)     1360 non-null   float64
 7   HDL (mg/dL)                   1360 non-null   float64
 8   Fasting Blood Sugar (mg/dL)   1360 non-null   float64
 9   Smoking Status                1360 non-null   object
 10  Diabetes Status               1360 non-null   object
 11  Physical Activity Level       1360 non-null   object
 12  Family History of CVD         1360 non-null   object
 13  CVD Risk Level                1360 non-null   object
 14  Height (cm)                   1360 non-null   float64
 15  Waist-to-Height Ratio         1360 non-null   float64
 16  Systolic BP                   1360 non-null   float64
 17  Diastolic BP                  1360 non-null   float64
 18  Blood Pressure Category       1360 non-null   object
 19  Estimated LDL (mg/dL)         1360 non-null   float64
 20  CVD Risk Score                1360 non-null   float64
 21  BMI_calculated                1360 non-null   float64
dtypes: float64(15), object(7)
memory usage: 233.9+ KB

In [45]:
df.describe()

,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Total Cholesterol (mg/dL),HDL (mg/dL),Fasting Blood Sugar (mg/dL),Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Estimated LDL (mg/dL),CVD Risk Score,BMI_calculated
count,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000
mean,46.780882,85.900864,1.752595,28.286691,91.688998,204.127206,55.316912,117.127941,175.248284,0.525297,126.562500,81.906618,117.716912,17.106265,28.286068
std,11.907193,20.543915,0.110007,7.692585,12.756824,53.557771,15.440465,29.576751,10.905517,0.080638,21.664793,13.935285,53.022369,2.378988,7.692829
min,25.000000,50.100000,1.502000,14.000000,70.000000,100.000000,30.000000,70.000000,150.000000,0.360000,90.000000,60.000000,30.000000,10.530000,13.968839
25%,37.000000,67.575000,1.665000,22.000000,80.244250,160.750000,42.000000,93.000000,166.996000,0.459750,110.000000,70.000000,74.000000,15.459750,21.998104
50%,46.000000,86.614500,1.755000,27.800000,91.677500,200.000000,56.000000,115.000000,175.694000,0.522000,126.000000,81.000000,111.500000,17.052500,27.775826
75%,55.000000,104.200000,1.840000,33.800000,102.254750,249.250000,68.000000,137.000000,184.000000,0.583000,142.000000,92.000000,159.000000,18.711250,33.754775
max,79.000000,120.000000,2.000000,50.800000,119.996000,300.000000,89.000000,198.000000,199.960000,0.787000,179.000000,119.000000,237.000000,24.170000,50.791801

### Separate Featires Types

In [46]:
categorical_cols = [i for i in df.columns if df[i].dtype == 'object']
numerical_cols = [i for i in df.columns if df[i].dtype != 'object']

In [47]:
categorical_cols

['Sex',
 'Smoking Status',
 'Diabetes Status',
 'Physical Activity Level',
 'Family History of CVD',
 'CVD Risk Level',
 'Blood Pressure Category']

In [48]:
numerical_cols

['Age',
 'Weight (kg)',
 'Height (m)',
 'BMI',
 'Abdominal Circumference (cm)',
 'Total Cholesterol (mg/dL)',
 'HDL (mg/dL)',
 'Fasting Blood Sugar (mg/dL)',
 'Height (cm)',
 'Waist-to-Height Ratio',
 'Systolic BP',
 'Diastolic BP',
 'Estimated LDL (mg/dL)',
 'CVD Risk Score',
 'BMI_calculated']

### Encode Categorical Features

In [49]:
df[categorical_cols]

,Sex,Smoking Status,Diabetes Status,Physical Activity Level,Family History of CVD,CVD Risk Level,Blood Pressure Category
0,F,N,Y,Low,N,INTERMEDIARY,Elevated
1,F,Y,Y,High,Y,HIGH,Hypertension Stage 1
2,M,N,N,High,Y,INTERMEDIARY,Hypertension Stage 1
3,F,Y,Y,High,N,INTERMEDIARY,Hypertension Stage 1
4,F,Y,N,Moderate,Y,HIGH,Hypertension Stage 2
...,...,...,...,...,...,...,...
1355,M,N,Y,Moderate,N,INTERMEDIARY,Hypertension Stage 2
1356,F,N,N,Moderate,Y,LOW,Normal
1357,M,N,Y,High,N,INTERMEDIARY,Hypertension Stage 2
1358,M,N,N,High,Y,INTERMEDIARY,Normal
1359,F,N,N,High,N,HIGH,Hypertension Stage 1

In [50]:
SEX_MAP = {'F':0, 'M':1}
YES_NO = {'N':0, 'Y':1}
RISK_MAP = {'LOW':0, 'INTERMEDIARY':1, 'HIGH':2}
BP_MAP = {
    'Normal':0,
    'Elevated':1,
    'Hypertension Stage 1':2,
    'Hypertension Stage 2':3
}

df['Sex'] = df['Sex'].map(SEX_MAP)
df['Smoking Status'] = df['Smoking Status'].map(YES_NO)
df['Diabetes Status'] = df['Diabetes Status'].map(YES_NO)
df['Family History of CVD'] = df['Family History of CVD'].map(YES_NO)
df['Physical Activity Level'] = df['Physical Activity Level'].map({'Low':0,'Moderate':1,'High':2})
df['CVD Risk Level'] = df['CVD Risk Level'].map(RISK_MAP)
df['Blood Pressure Category'] = df['Blood Pressure Category'].map(BP_MAP)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360 entries, 0 to 1359
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sex                           1360 non-null   int64
 1   Age                           1360 non-null   float64
 2   Weight (kg)                   1360 non-null   float64
 3   Height (m)                    1360 non-null   float64
 4   BMI                           1360 non-null   float64
 5   Abdominal Circumference (cm)  1360 non-null   float64
 6   Total Cholesterol (mg/dL)     1360 non-null   float64
 7   HDL (mg/dL)                   1360 non-null   float64
 8   Fasting Blood Sugar (mg/dL)   1360 non-null   float64
 9   Smoking Status                1360 non-null   int64
 10  Diabetes Status               1360 non-null   int64
 11  Physical Activity Level       1360 non-null   int64
 12  Family History of CVD         1360 non-null   int64
 13  CVD Risk Level                1360 non-null   int64
 14  Height (cm)                   1360 non-null   float64
 15  Waist-to-Height Ratio         1360 non-null   float64
 16  Systolic BP                   1360 non-null   float64
 17  Diastolic BP                  1360 non-null   float64
 18  Blood Pressure Category       1360 non-null   int64
 19  Estimated LDL (mg/dL)         1360 non-null   float64
 20  CVD Risk Score                1360 non-null   float64
 21  BMI_calculated                1360 non-null   float64
dtypes: float64(15), int64(7)
memory usage: 233.9 KB

In [52]:
df.head()

,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Total Cholesterol (mg/dL),HDL (mg/dL),Fasting Blood Sugar (mg/dL),Smoking Status,...,Family History of CVD,CVD Risk Level,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,BMI_calculated
0,0,32.0,69.1,1.71,23.6,86.2,248.0,78.0,111.0,0,...,0,1,171.000,0.504,125.0,79.0,1,140.0,17.93,23.631203
1,0,55.0,118.7,1.69,41.6,82.5,162.0,50.0,135.0,1,...,1,2,169.000,0.488,139.0,70.0,2,82.0,20.51,41.560169
2,1,44.0,108.3,1.80,33.4,96.6,134.0,46.0,91.0,0,...,1,1,175.694,0.537,140.0,83.0,2,58.0,16.36,33.425926
3,0,32.0,99.5,1.86,28.8,102.7,146.0,64.0,141.0,1,...,0,1,186.000,0.552,144.0,83.0,2,52.0,17.88,28.760550
4,0,58.0,117.9,1.87,33.7,81.4,156.0,67.0,82.0,1,...,1,2,187.000,0.435,142.0,90.0,3,59.0,16.96,33.715577

### Feature Scaling

Why?

- Needed for Logistic Regression, SVM, KNN

- Required for Clustering

- Helps Regression stability

Let's use StandardScaler.

In [55]:
scaler = StandardScaler()

In [57]:
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [58]:
df.head()

,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Total Cholesterol (mg/dL),HDL (mg/dL),Fasting Blood Sugar (mg/dL),Smoking Status,...,Family History of CVD,CVD Risk Level,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,BMI_calculated
0,0,-1.241797,-0.818103,-0.387342,-0.609472,-0.430438,0.819469,1.469608,-0.207264,0,...,0,1,-0.389697,-0.264199,-0.072148,-0.208656,1,0.420413,0.346382,-0.605314
1,0,0.690519,1.597125,-0.569215,1.731304,-0.720585,-0.786864,-0.344476,0.604483,1,...,1,2,-0.573158,-0.462690,0.574299,-0.854737,2,-0.673867,1.431275,1.726151
2,1,-0.233632,1.090706,0.431085,0.664951,0.385112,-1.309857,-0.603631,-0.883720,0,...,1,1,0.040886,0.145190,0.620474,0.078490,2,-1.126673,-0.313805,0.668382
3,0,-1.241797,0.662198,0.976704,0.066752,0.863464,-1.085717,0.562566,0.807419,1,...,0,1,0.986260,0.331275,0.805173,0.078490,2,-1.239875,0.325357,0.061701
4,0,0.942560,1.558170,1.067640,0.703964,-0.806845,-0.898934,0.756932,-1.188125,1,...,1,2,1.077990,-1.120193,0.712824,0.580997,3,-1.107806,-0.061505,0.706048

In [59]:
df.to_csv('../Data/cvd_preprocessed_data.csv', index=False)